.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-right: 0;
}

.form {
  width: 65%;
  padding: 24px;
  box-sizing: border-box;
}

.form-title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 700;
}

.form-label {
  display: block;
  margin-top: 20px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
