/* header.css */

/* Override the hover style for Ant Design's Button component */
.ant-btn-default:hover {
  background-color: #d3d3d3 !important;
  border: none !important;
  color: #000000 !important;
}

/* Apply the custom style to the sign-up button */
.header-signup-button:hover {
  background-color: #ff0000 !important;
  border: none !important;
  color: #ffffff !important;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* To ensure the header is on top of other elements */
}
